*{
	margin: 0px auto;
	padding: 0px;
}
a{
	text-decoration: none;
}
/*1.ctrl+/ 头部两端顶头黑色背景div(bc),#1b1f24*/
header{
	height: 60px;
	width: 100%;
}
/*1.1 图片所在层的div(bc)*/
 #d2{
	height: 60px;
	width: 1180px;
	position: relative;
	bottom: 60px;
}
 #d2 .d2c2{
	width: 486px;
	float: left;
}

/*1.1.1 网站log图片*/
 #d2 .d2c2 img{
	margin-top: 14px;
	
}
 #d2 .d2c2 .d2c22{
	width: 71px;
	height: 30px;
	float: right;
	text-align: center;
	line-height: 30px;
	border-radius: 15px;
	font-size: 14px;
	background-color: #2b3036;
	margin-top: 15px;
	margin-right: 280px;
	color: #c8c8c8;
}
 #d2 .d2c2 .d2c22 i{
	display: inline-block;
	width: 13px;
	height: 16px;
	background-color: red;
	background: url(../../image/shouye/root/com-icon.png) no-repeat -52px 0px;
	vertical-align: middle;
}
 #d2 .d2c3 {
	width: 618px;
	float: left;
	line-height: 60px;
}
 #d2 .d2c3 ul{
	list-style-type: none;
}
 #d2 .d2c3 ul li{
	float: left;
	margin-right: 34px;
	font-size: 16px;
}
 #d2 .d2c3 ul li a{
	color: #FFFFFF;
}
 #d2 .d2c3 ul li a:hover{
	color: #FBB100;
}
 #d2 .d2c4{
	width: 76px;
	float: left;
}
 #d2 .d2c4 ul{
	list-style-type: none;
}
 #d2 .d2c4 ul li{
	float: left;
	line-height: 60px;
	font-size: 14px;

}
 #d2 .d2c4 ul li a{
	color: #fbc700;
}
 #d2 .d2c4 ul li a:hover{
	color: #FFFFFF;
}
 #d2 .d2c4 ul li:last-child{
	margin-left: 14px;
}
